dist/**
build/**
uld.egg-info/**
ulozto_downloader.egg-info/**
uldlib/__pycache__/**
parser.py

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide