dist/**
build/**
uld.egg-info/**
uldlib/__pycache__/**
parser.py

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide


# Custom
.ucache
.udown
testdata/
.mp4
.avi


# Custom
.ucache
.udown
testdata/
.mp4
.avi
